<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">

    <link rel="stylesheet" href="../../../stylesheets/styles.css">
    <link rel="stylesheet" href="../../../stylesheets/pygment_trac.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <title>{{ page.title }}</title>
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1>{{ page.title }}</h1>
        <p class="view">
          <a href="/">
            <i class="fa fa-arrow-circle-o-left"></i>
            daveworth.github.io
          </a>
        </p>
        <p class="view">
          <a href="https://github.com/daveworth">
            <i class="fa fa-share-alt-square"></i>
            View My GitHub Profile
          </a>
        </p>
      </header>
      <section>
        {{ content }}
        <p>Have something to contribute?  Open an
        <a href="https://github.com/daveworth/daveworth.github.com/issues">Issue</a> on
        <a href="http://github.com">Github</a> and let's have a chat!
        </p>
      </section>
      <footer>
        <p class="view">
          <a href="http://daveworth.github.io/feed.xml">
            <i class="fa fa-rss-square"></i>
            RSS Feed
          </a>
        </p>
        <p><small>Hosted on GitHub Pages &mdash; Theme by <a href="https://github.com/orderedlist">orderedlist</a></small></p>
      </footer>
    </div>
    <script src="/javascripts/scale.fix.js"></script>
  </body>
</html>
